/*Kaleb Jensen 4/15*/
/*myCustomStyles*/

header {
top: 5px;
right: 5px;
left: 5px;
height: 50px;
text-align: center;
position: absolute;
}

body {
top: 5px;
bottom: 160px;
right: 10px;
left: 10px;
position: absolute;
}

footer {
bottom: 5px;  
left: 5px;
right: 5px;
height: 150px;
position: absolute;
}

.iframe-container {
position: relative;
width: 100%;
padding-bottom: 56.25%;
height: 0;
}